<h1 class="title">Video Generation - Nova REEL, Millennial Dates </h1>

<div class="behavior-files-container">
  <div class="form-group">
    <label for="inputText">Video Description</label>
    <input type="text" id="inputText" [(ngModel)]="inputText" />
  </div>
  <!-- <div class="form-group">
    <label for="fileUpload">Upload File</label>
    <input type="file" id="fileUpload" (change)="onFileSelected($event)" />
  </div> -->
  <button (click)="onSubmit()" class="submit-button">Submit</button>

  <div *ngIf="loading" class="loading-indicator">Loading...</div>
  <div *ngIf="error" class="error-message">{{ error }}</div>
</div>

<div class="result-container" *ngIf="result">
    <div class="result-item">
        <h3 class="sentiment">GenAI Video Results</h3>
        <p class="result">{{ result.video }}</p>
      </div>
  <!-- <div class="result-item" *ngIf="fileType === 'image'">
    <h3 class="sentiment">Uploaded File</h3>
    <img [src]="fileData" alt="Uploaded Image" class="result-file" />
  </div>
  <div class="result-item" *ngIf="fileType === 'pdf'">
    <h3 class="sentiment">Uploaded File</h3>
    <iframe [src]="fileData" class="result-file" style="width: 100%; height: 600px;"></iframe>
  </div> -->

  
</div>

